In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [3]:
concrete_data.shape
concrete_data.describe()
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

# Cleaning And Normlized Data

In [4]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [5]:
predictors.head()
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [6]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [7]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [8]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [10]:
# build the model
model = regression_model()

In [11]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 2ms/step - loss: 19311.5508
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 5564.0210
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 1658.8755
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 643.4480
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 440.9045
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 366.9004
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 329.9807
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 296.5840
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 273.7863
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 258.4000
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 244.0909
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 231.3864
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 221.0608
Epoch 14/50
23/23 [==============================] - 0s 3ms/step - loss: 209.1380
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 199.3103
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 186.6750
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 174.4332
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 164.2809
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 150.4736
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 140.9524
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 133.1262
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 125.7147
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 119.6977
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 117.1611
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 112.3151
Epoch 26/50
23/23 [==============================] - 0s 3ms/step - loss: 108.0367
Epoch 27/50
23/23 [==============================] - 0s 4ms/step - loss: 104.9803
Epoch 28/50
23/23 [==============================] - 0s 3ms/step - loss: 103.8958
Epoch 29/50
23/23 [==============================] - 0s 3ms/step - loss: 101.7850
Epoch 30/50
23/23 [==============================] - 0s 3ms/step - loss: 100.3624
Epoch 31/50
23/23 [==============================] - 0s 4ms/step - loss: 99.4610
Epoch 32/50
23/23 [==============================] - 0s 3ms/step - loss: 98.6371
Epoch 33/50
23/23 [==============================] - 0s 3ms/step - loss: 99.0503
Epoch 34/50
23/23 [==============================] - 0s 3ms/step - loss: 98.7113
Epoch 35/50
23/23 [==============================] - 0s 4ms/step - loss: 95.2688
Epoch 36/50
23/23 [==============================] - 0s 4ms/step - loss: 96.8767
Epoch 37/50
23/23 [==============================] - 0s 3ms/step - loss: 95.8819
Epoch 38/50
23/23 [==============================] - 0s 4ms/step - loss: 93.7027
Epoch 39/50
23/23 [==============================] - 0s 4ms/step - loss: 93.5210
Epoch 40/50
23/23 [==============================] - 0s 4ms/step - loss: 92.9236
Epoch 41/50
23/23 [==============================] - 0s 3ms/step - loss: 91.6190
Epoch 42/50
23/23 [==============================] - 0s 3ms/step - loss: 93.5108
Epoch 43/50
23/23 [==============================] - 0s 4ms/step - loss: 90.3932
Epoch 44/50
23/23 [==============================] - 0s 3ms/step - loss: 90.5164
Epoch 45/50
23/23 [==============================] - 0s 4ms/step - loss: 89.2823
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 92.8097
Epoch 47/50
23/23 [==============================] - 0s 3ms/step - loss: 88.8654
Epoch 48/50
23/23 [==============================] - 0s 3ms/step - loss: 88.3775
Epoch 49/50
23/23 [==============================] - 0s 3ms/step - loss: 94.5466
Epoch 50/50
23/23 [==============================] - 0s 3ms/step - loss: 89.0243

In [12]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 4ms/step - loss: 98.7865

98.78646087646484

In [13]:
from sklearn.metrics import mean_squared_error

In [14]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

98.78645752448409 0.0

In [15]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 69.25635528564453
MSE 2: 76.63868713378906
MSE 3: 59.26712417602539
MSE 4: 77.78072357177734
MSE 5: 58.67495346069336
MSE 6: 56.764259338378906
MSE 7: 67.4011459350586
MSE 8: 45.56171798706055
MSE 9: 44.91440200805664
MSE 10: 49.79417419433594
MSE 11: 42.61753845214844
MSE 12: 41.30302047729492
MSE 13: 60.076297760009766
MSE 14: 53.710052490234375
MSE 15: 42.670684814453125
MSE 16: 37.845760345458984
MSE 17: 43.74470901489258
MSE 18: 56.51942443847656
MSE 19: 38.921875
MSE 20: 43.46589279174805
MSE 21: 38.66956329345703
MSE 22: 39.4266471862793
MSE 23: 37.59320068359375
MSE 24: 37.12971115112305
MSE 25: 45.204227447509766
MSE 26: 45.15833282470703
MSE 27: 47.85533905029297
MSE 28: 39.3650016784668
MSE 29: 43.22714614868164
MSE 30: 41.794960021972656
MSE 31: 42.807186126708984
MSE 32: 33.7171745300293
MSE 33: 39.13702392578125
MSE 34: 39.57974624633789
MSE 35: 43.37106704711914
MSE 36: 41.790260314941406
MSE 37: 42.828392028808594
MSE 38: 45.4263916015625
MSE 39: 37.46105194091797
MSE 40: 31.862876892089844
MSE 41: 44.79798889160156
MSE 42: 34.567195892333984
MSE 43: 36.856510162353516
MSE 44: 49.356048583984375
MSE 45: 42.358577728271484
MSE 46: 43.52251434326172
MSE 47: 40.71234130859375
MSE 48: 46.33695983886719
MSE 49: 41.596954345703125
MSE 50: 39.97416305541992


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 46.00826677070384
Standard Deviation: 10.163353562151189